
@media screen and(max-width: 1600px) {

    h1 {
        font-size: 200px;
    }
    .titre--zoom{
        font-size: 150px;
    }
}
@media screen and(max-width: 900px) {
    body{
        padding: 0;
        height: auto;
    } 
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    //images miniatures
    img{
        display: flex;
        height:75px;
        width: 75px;
        border-radius: 50%;
    }
    //titre site h1 
    h1{
        height:320px;
        width:100px;  
        font-size: 35px;
        position: absolute;
        left:67%;
        top:55%;
    }
    .titre_recette {
        left:-13%;
        top:5%;
    }
    //container img version mobile sur poage d'accueil
     .container_min_index {
        left:-75%;
     }
    //miniatures
    .link_min,.link_min--2,.link_min--3,.link_min--4,.link_min--5 {
        display: flex;
        position: relative;
        align-items: center;
        top:auto;
        left:auto;
    }
    //container miniatures
    .container_min{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        position: absolute;
    }
    .vertical {
        display: none;
    }

    //apparition text Typewritter JS 
    .text_appear {
        font-size: 55px;
        top: 35%;
        left: 23%;
    }
    //flip des cards sans scale
    .card.flip, .card--2.flip, .card--3.flip, .card--4.flip, .card--5.flip {
        top:0;
        left:0;
        transform: translate(1px, 1px) scale(1) perspective(1000px) rotateY(180deg);
    }
    .card.flip{
        height:670px;
        h3{
            width:100%;
            text-align: center;
        }
    }
    .card--2.flip{
        height:760px;
    }
    .card--3.flip{
        height:600px;
    }
    .card--4.flip, .card--5.flip{
        height:550px;
    }
    //container card sur la page recette.html
    #ancre__menu{
        margin:5%;
        margin-top: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    //les card sur la page recette.html
    .card_recettes{
        margin:5%;
        height:300px;
        width:80%;
        left:auto;
        right: auto;
    }
}
@media screen and(max-width: 500px) {

    nav ul h2 {
        font-size: 25px;
    }
    .recipe__nav {
        left: 67%;
    }
    header h2 {
        left: 37%;
    }

    .arrow {
        display: block;
        font-size: 70px;
        position: fixed;
        right:10%;
        bottom:10%;
        color:rgba(173,55,29, 0.68);
    }
}